<!DOCTYPE html>
<html>
<head>
	<title></title>
    
        <script type="text/javascript">
        	$(document).ready(function() {
	    $("#add").click(function() {
	    		var lastField = $("#buildyourform div:last");
	        var intId = (lastField && lastField.length && lastField.data("idx") + 1) || 1;
	        
	        var fieldWrapper = $("<tr class=\"fieldwrapper\" id=" + intId + "/>");
	        fieldWrapper.data("idx", intId);
	        var fName = $("<td><input type=\"text\" class=\"fieldname\" /> </td>");
	        var fName1 = $("<td><input type=\"text\" class=\"fieldname\" /> </td>");
	        var fName2 = $("<td><input type=\"text\" class=\"fieldname\" /> </td>");
	        var fName3 = $("<td><input type=\"text\" class=\"fieldname\" /> </td>");
	        var fName4 = $("<td><input type=\"text\" class=\"fieldname\" /> </td>");
	        var removeButton = $("<input type=\"button\" class=\"remove\" value=\"-\" />");
	        removeButton.click(function() {
	            $(this).parent().remove();
	        });
	        fieldWrapper.append(fName);
	        fieldWrapper.append(fName1);
	        fieldWrapper.append(fName2);
	        fieldWrapper.append(fName3);
	        fieldWrapper.append(fName4);
	        
	        fieldWrapper.append(removeButton);
	        
	        $("#buildyourform table").append(fieldWrapper);
	    });
	    // $("#preview").click(function() {
	    //     $("#yourform").remove();
	    //     var fieldSet = $("<fieldset id=\"yourform\"><legend>Your Form</legend></fieldset>");
	    //     $("#buildyourform div").each(function() {
	    //         var id = "input" + $(this).attr("id").replace("field","");
	    //         var label = $("<label for=\"" + id + "\">" + $(this).find("input.fieldname").first().val() + "</label>");
	    //         var input;
	    //         switch ($(this).find("select.fieldtype").first().val()) {
	    //             case "checkbox":
	    //                 input = $("<input type=\"checkbox\" id=\"" + id + "\" name=\"" + id + "\" />");
	    //                 break;
	    //             case "textbox":
	    //                 input = $("<input type=\"text\" id=\"" + id + "\" name=\"" + id + "\" />");
	    //                 break;
	    //             case "textarea":
	    //                 input = $("<textarea id=\"" + id + "\" name=\"" + id + "\" ></textarea>");
	    //                 break;    
	    //         }
	    //         fieldSet.append(label);
	    //         fieldSet.append(input);
	    //     });
	    //     $("body").append(fieldSet);
	    // });
	});

        </script>

</head>
<body>

	


	<form id="buildyourform">
		<legend>Build your own form!</legend>
		<table class="table table-bordered " >
	<tr>
			
			<th>品名</th>
			<th>單位</th>
			<th>數量</th>
			<th>單價</th>
			<th>金額</th>
			<th>備註</th>
    	</tr>
    	</table>
	</form>
	<input type="button" value="Preview form" class="add" id="preview" />
	<input type="button" value="Add a field" class="add" id="add" />

</body>
</html>