{% extends 'base.html' %}
{% block javascript %}

$(document).ready(function(){
    $('.menu-item-add').click(function (e) {
        e.preventDefault();

        var lastElement = $('.menu-item:last');
        var totalForms = $('#id_form-TOTAL_FORMS');
        var total = parseInt(totalForms.val());

        var newElement = lastElement.clone(true);
        newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace(
          '-' + (total - 1) + '-',
          '-' + total + '-'
        );
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id});
        });

		/* replace previous id */
        newElement.find('label').each(function() {
        $(this).attr('for', $(this).attr('for').replace(
          '-' + (total - 1) + '-',
          '-' + total + '-'
            ));
        });

        totalForms.val(total + 1);
        newElement.insertAfter(lastElement);
    });

    $('.price, .quantity').change(function(){
        $('.menu-item').each(function(){
            var price = jQuery(this).children('.price').val();
            var quantity = jQuery(this).children('.quantity').val();
            var subtotal = parseInt(price)*parseInt(quantity);
            jQuery(this).children('.subtotal').val(subtotal);
        });

        total_price();
    });

    $('.subtotal').change(function(){
        total_price();
    });

    $('.product').change(function(){
        var product_id = $(this).val();
        var price = jQuery(this).siblings(".price");

        $.ajax({
            method:"GET",
            url:"{% url 'product_price_request' %}",
            data:{"product_id":product_id}
        }).done(function(data){
               price.val(data["price"]);
        });
    });
});

function total_price(){
    var sum = 0;
    $('.subtotal').each(function() {
    sum += Number($(this).val());
    });

    $('input[name="total"]').val(sum);
}

function remove_data() {
    var lastElement = $('.menu-item:last');
    var totalForms = $('#id_form-TOTAL_FORMS');
    var total = parseInt(totalForms.val());

    if(total > 1)
    {
    /* remove last div */
    lastElement.remove();
    }
    total_price();
    totalForms.val(total - 1);
}

$.ajaxSetup({
    data:{
        csrfmiddlewaretoken:'{{ csrf_token }}'
    },
});

{% endblock %}
{% block title %}{{ table_name }}{% endblock %}
{% block content %}

<form action="{% url 'order_info-create' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
        <th><label>Client</label></th>
        <td>{{ form.client }}</td>
        </tr>
        <tr>
        <th><label>預計出貨日期</label></th>
        <td>{{ form.estimated_shipping_date }}</td>
        </tr>
        <tr>
        <th><label>送貨地址</label></th>
        <td>{{ form.delivery_address }}</td>
        </tr>
        <tr>
        <th><label>統一編號</label></th>
        <td>{{ form.invoice_number }}</td>
        </tr>
    </table>

	{{ menu_item_formset.management_form }}
    {% for form in menu_item_formset %}
    <div class="menu-item form-group">
		{{ form.as_table }}
    </div>
	{% endfor %}
    <input value="新增項目" type="button" class="menu-item-add">
    <input value="減少項目" onclick="remove_data()" type="button">
    <br>
    <label>合計</label> {{ form.total }}
    <br>
    <input type="submit" value="Submit"/>
    </tr>
</form>

{% endblock %}
