{% extends 'base.html' %} 
{% block javascript %}

$(document).ready(function(){
    $('.price, .quantity').change(function(){
        $('.menu-item').each(function(){
            var price = jQuery(this).children('.price').val();
            var quantity = jQuery(this).children('.quantity').val();
            var subtotal = parseInt(price)*parseInt(quantity);
            jQuery(this).children('.subtotal').val(subtotal);
        });

        total_price();
    });

    $('.subtotal').change(function(){
        total_price();
    });

    $('.product').change(function(){
        var product_id = $(this).val();
        var price = jQuery(this).siblings(".price");

        $.ajax({
            method:"GET",
            url:"{% url 'product_price_request' %}",
            data:{"product_id":product_id}
        }).done(function(data){
               price.val(data["price"]);
        });
    });
});

function total_price(){
    var sum = 0;
    $('.subtotal').each(function() {
    sum += Number($(this).val());
    });

    $('input[name="total"]').val(sum);
}

function remove_data() {
    var lastElement = $('.menu-item:last');
    var totalForms = $('#id_form-TOTAL_FORMS');
    var total = parseInt(totalForms.val());

    if(total > 1)
    {
    /* remove last div */
    lastElement.remove();
    }
    total_price();
    totalForms.val(total - 1);
}

$.ajaxSetup({
    data:{
        csrfmiddlewaretoken:'{{ csrf_token }}'
    },
});

{% endblock %}
{% block title %} {{ table_name }} {% endblock %} 
{% block content %}

<form action="{% url 'order_info-update' pk=pk %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
        <th><label>Client</label></th>
        <td>{{ form.client }}</td>
        </tr>
        <tr>
        <th><label>預計出貨日期</label></th>
        <td>{{ form.estimated_shipping_date }}</td>
        </tr>
        <tr>
        <th><label>送貨地址</label></th>
        <td>{{ form.delivery_address }}</td>
        </tr>
        <tr>
        <th><label>統一編號</label></th>
        <td>{{ form.invoice_number }}</td>
        </tr>
    </table>

	{{ menu_item_formset.management_form }}
    {% for form in menu_item_formset %}
    <div class="menu-item form-group">
        <label>商品名稱</label>
		{{ form.product_id_id }}
        <label>售價</label>
		{{ form.price }}
        <label>數量</label>
		{{ form.num_of_product }}
        <label>小計</label>
		{{ form.subtotal }}
        <label>備註</label>
		{{ form.remark }}
		{{ form.id.as_hidden }}
    </div>
	{% endfor %}
    <label>合計</label> {{ form.total }}
    <br>
    <input type="submit" value="Update"/>
    </tr>
</form>
{% if perms.sales_management.delete_order_info %}
<a href="{% url 'order_info-delete' pk=pk %}" target="_blank">Delete</a>
{% endif %} 
{% endblock %}
