{% extends 'generic_list_base.html' %}
{% block title %}{{ table_name }}{% endblock %}
{% block create_button %}
{% if perms.stock.add_stock_info %}
<a href="{% url 'stock_info-create' %}" target="_blank">Create stock info</a>
{% endif %}
{% endblock %}

{% block table %}
<div>
   <form action="{% url 'stock_info-search'  %}" method="get">
      {% csrf_token %}
        商品
        <input type="text" name="name" id='name' placeholder="輸入">
        編號
        <input type="text" name="id" id='name' placeholder="輸入">
        
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</div>
    <table>


        <tr>
        <th>編號</th>
        <th>商品</th>
        <th>數量</th>
        {% if perms.stock.delete_stock_info %}
        <th>Delete</th>
        {% endif %}
        </tr>
        {% for object in objects %}
        <tr>
            <td><a {% if perms.stock.change_stock_info %} href="{{object.get_absolute_url}}{% endif %}" target="_blank">{{object.id}}</a></td>
        <td>{{object.product}}</td>
        <td>{{object.quantity}}</td>
        {% if perms.stock.delete_stock_info %}
        <td><a href="{% url 'stock_info-delete' pk=object.id %}" target="_blank">Delete</a></td>
        {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
