{% extends 'base.html' %}

{% block title %}basic management{% endblock %}

{% block content %}

<h2>{{table_name}}</h2>

<form action="{% url 'basic-management' %}" method="get" accept-charset="utf-8">
    <table>
        <tr>
        <th>Company name</th>
        <th>Company addrsss</th>
        <th>Company phone number</th>
        <th>Company EIN</th>
        <th>Company person in charge</th>
        <th>Company num of employees</th>
        <th>Company email</th>
        <th>Company introduction</th>
        </tr>
        {% for c in company_infos %}
        <tr>
            <td>{{c.comp_name}}</td>
            <td>{{c.comp_address}}</td>
            <td>{{c.comp_phonenumber}}</td>
            <td>{{c.comp_EIN}}</td>
            <td>{{c.comp_persion_in_charge}}</td>
            <td>{{c.comp_NUM_employee}}</td>
            <td>{{c.comp_email}}</td>
            <td>{{c.comp_introduction}}</td>
        </tr>
        {% endfor %}
    </table>
</form>

{% endblock %}
