{% extends 'base.html' %}

{% block title %}Details of client{% endblock %}

{% block content %}

<h2>{{table_name}}</h2>

    {% if object %}
    <p><strong>Name:</strong>{{ object.name }}</p>
    <p><strong>Address:</strong>{{ object.address }}</p>
    <p><strong>Email:</strong>{{ object.email }}</p>
    <p><strong>Phonenumber:</strong>{{ object.phonenumber }}</p>
    <p><strong>Gender:</strong>{{ object.gender }}</p>
    <p><strong>Birthday:</strong>{{ object.birthday }}</p>
    {% else %}
        <p>No detail of client.</p>
    {% endif %}
    {% if perms.basic_management.change_client_info %}
    <a href="{% url 'client_info-update' object.id %}" target="_blank">Update</a>
    {% endif %}
    {% if perms.basic_management.delete_client_info %}
    <a href="{% url 'client_info-delete' object.id %}" target="_blank">Delete</a>
    {% endif %}
    {% if perms.basic_management.add_client_info %}
    <a href="{% url 'client_info-create' %}" target="_blank">Create new client</a>
    {% endif %}
{% endblock %}
