{% extends 'base.html' %}

{% block CSS %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'employee.css' %}">
{% endblock %}

{% block title %}Client info{% endblock %}

{% block content %}
<div class="container">
	<div class="div-menu">
		<h2>客戶列表</h2>

		<form action="{% url 'client-search'  %}" method="get">
			{% csrf_token %}
			<select name="key">
				<option value="1">客戶名稱</option>
				<option value="2">電話</option>
				
			</select>	
				<input type="text" name="name" id='name' placeholder="輸入">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>


		</form>
		<table class="table table-bordered " >
		
		<tr>
			<th>客戶名稱</th>
			<th>地址</th>
			<th>email</th>
			<th>電話</th>
			<th>性別</th>
			<th>生日</th>

		</tr>
	
		{%for c in Client_Info%}
		<tr>
			<td>{{c.name}}</td>
			<td>{{c.address}}</td>
			<td>{{c.email}}</td>
			<td>{{c.phonenumber}}</td>
			<td>{{c.gender}}</td>
			<td>{{c.birthday}}</td>

		</tr>
	
		{% endfor %}

		</table>
			
	</div>





</div>
{% endblock %}
