{% extends 'base.html' %}

{% block CSS %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'employee.css' %}">
{% endblock %}

{% block title %}basic management{% endblock %}

{% block content %}



<div class="container">
	
	<div class="div-menu">
		<h2>員工列表</h2>

		<table class="table table-bordered " >
		<tr>
			<th>員工名稱</th>
			<th>地址</th>
			<th>email</th>
			<th>電話</th>
			<th>性別</th>
			<th>生日</th>

		</tr>
		{%for e in employee%}
		<tr>
			<td>{{e.name}}</td>
			<td>{{e.address}}</td>
			<td>{{e.email}}</td>
			<td>{{e.phonenumber}}</td>
			<td>{{e.gender}}</td>
			<td>{{e.birthday}}</td>


		</tr>
	
		{% endfor %}
		</table>
		<form action="{% url 'employee_search'  %}" method="get">
			{% csrf_token %}
			<label for='name'>名子 </label>
			<input type="text" name="name" id='name'>
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>


		</form>
	</div>




</div>

{% endblock %}