{% extends 'base.html' %}

{% block CSS %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'employee.css' %}">
{% endblock %}

{% block title %}basic management{% endblock %}

{% block content %}



<div class="container">
	
	<div class="div-menu">

		<h2>員工列表  共有{{employee|length}}人</h2>



		<form action="{% url 'employee-search'  %}" method="get">
			{% csrf_token %}
			<select name="key">
				<option value="1">員工</option>
				<option value="2">所屬公司</option>
				<option value="3">使用者帳號</option>
				<option value="4">電話</option>
			</select>	
				<input type="text" name="name" id='name' placeholder="輸入">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>


		</form>

		<table class="table table-bordered " >
		
		<tr>
			<th>隸屬公司</th>
			<th>員工名稱</th>
			<th>地址</th>
			<th>email</th>
			<th>電話</th>
			<th>性別</th>
			<th>生日</th>
			<th>所屬公司</th>
			<th>帳號</th>

		</tr>
	
		{%for e in employee%}
		<tr>
			<td>{{e.comp_id}}</td>
			<td>{{e.name}}</td>
			<td>{{e.address}}</td>
			<td>{{e.email}}</td>
			<td>{{e.phonenumber}}</td>
			<td>{{e.gender}}</td>
			<td>{{e.birthday}}</td>
			<td>{{e.comp_id}}</td>
			<td>{{e.user}}</td>
		</tr>
	
		{% endfor %}


		
	</div>

	

		</table>
			






</div>

{% endblock %}