{% extends 'base.html' %}

{% block CSS %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'employee.css' %}">
{% endblock %}

{% block title %}basic management{% endblock %}

{% block content %}



<div class="container">
	
	<div class="div-menu">
		<h2>員工列表</h2>
		<form action="" method="get"></form>
		<table class="table table-bordered " >
		<tr>
			<th>員工名稱</th>
			<th>地址</th>
			<th>email</th>
			<th>電話</th>
			<th>性別</th>
			<th>生日</th>

		</tr>
		{%for e in employee%}
		<tr>
			<td>{{e.name}}</td>
			<td>{{e.address}}</td>
			<td>{{e.email}}</td>
			<td>{{e.phonenumber}}</td>
			<td>{{e.gender}}</td>
			<td>{{e.birthday}}</td>


		</tr>
		</table>
		{% endfor %}

	</div>

	<a href="">新增</a>

	<a href="">修改</a>


</div>

{% endblock %}