{% extends 'base.html' %}

{% block CSS %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'employee.css' %}">
{% endblock %}

{% block title %}basic management{% endblock %}

{% block content %}

<div class="container">
	
	<div class="div-menu">
		<h2>查詢結果  共有{{employee|length}}人</h2>
		<form action="" method="get"></form>
		<table class="table table-bordered " >
		<tr>
			<th>隸屬公司</th>
			<th>員工名稱</th>
			<th>帳號</th>

		</tr>
		{%for e in employee%}
		<tr>
			<td>{{e.comp_id}}</td>
			<td>{{e.name}}</td>
			<td>{{e.user}}</td>


		</tr>
		</table>
		{% endfor %}

	</div>

	

</div>



{% endblock %}