{% extends 'base.html' %}

{% block CSS %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'employee.css' %}">
{% endblock %}

{% block title %}basic management{% endblock %}

{% block table %}
        <form action="{% url 'employee-search'  %}" method="get">
            {% csrf_token %}
            <select name="key">
                <option value="1">員工名稱</option>
                <option value="2">公司</option>
                <option value="3">帳號</option>
                <option value="4">電話</option>
                
            </select>   
                <input type="text" name="name" id='name' placeholder="輸入">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>


        </form>

<table>
    <tr>
        <th>隸屬公司</th>
        <th>員工名稱</th>
        <th>地址</th>
        <th>帳號</th>
        <th>電話</th>
        <th>性別</th>
    </tr>
    {% for obj in objects %}
    <tr>
    	<td>{{obj.comp_id}}</td>
        <td>
            <a href="{{obj.get_absolute_url}}" target="_blank">{{obj.name}}</a>
        </td>
        <td>{{obj.address}}</td>
        <td>{{obj.user}}</td>
        <td>{{obj.phonenumber}}</td>
        <td>{{obj.gender}}</td>
        <td>
            <a href="{% url 'employee-update' pk=obj.id %}" target="_blank">Update</a>
        </td>
        <td>
            <a href="{% url 'employee-delete' pk=obj.id %}" target="_blank">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}