{% extends 'generic_list_base.html' %} 

{% block title %}List company info{% endblock %} 

{% block create_button %}
{% if perms.basic_management.add_product_information %}
<a href="{% url 'product_information-create' %}" target="_blank">Create product information</a>
{% endif %}
{% endblock %} 

{% block table %}
<form action="{% url 'product_information-search'  %}" method="get">
      {% csrf_token %}
  
        產品名稱
        <input type="text" name="name" id='name' placeholder="輸入">
        高度
        <input type="text" name="height" id='name' placeholder="輸入">
        重量
        <input type="text" name="weight" id='name' placeholder="輸入">
        價錢
        <input type="text" name="price" id='name' placeholder="輸入">
        商品分類
        <input type="text" name="categories_id" id='name' placeholder="輸入">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>


    </form>

<table>
    <tr>
        <th>Product name</th>
        <th>Product height</th>
        <th>Product weight</th>
        <th>Product price</th>
    </tr>
    {% for obj in objects %}
    <tr>
        <td>
            <a href="{{obj.get_absolute_url}}" target="_blank">{{obj.name}}</a>
        </td>
        <td>{{obj.height}}</td>
        <td>{{obj.weight}}</td>
        <td>{{obj.price}}</td>
        {% if perms.basic_management.change_product_information %}
        <td>
            <a href="{% url 'product_information-update' pk=obj.id %}" target="_blank">Update</a>
        </td>
        {% endif %}
        {% if perms.basic_management.delete_product_information %}
        <td>
            <a href="{% url 'product_information-delete' pk=obj.id %}" target="_blank">Delete</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
